# ---- Python / Django ----
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.env
.env.*

# Django
db.sqlite3
staticfiles/

# Migrations (KEEP these)
!**/migrations/
!**/migrations/*.py
**/migrations/*.pyc

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
