{% extends 'core/base.html' %}
{% load static %}
{% block title %}Coorda Login{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/auth.css' %}">
{% endblock %}

{% block head_scripts %}
<script src="{% static 'js/auth.js' %}"></script>
{% endblock %}

{% block navbar %}
<header>
    <div class="logo">Coorda</div>
    <div class="nav">
        About Us <span class="pipe">|</span> Home
    </div>
</header>
{% endblock %}

{% block content %}
<div class="main-container">
    <div class="login-card">
        <h2>Login</h2>
        <form method="POST" action="{% url 'login' %}">
            {% csrf_token %}
            <div class="input-group">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" placeholder="Enter your username">
            </div>

            <div class="input-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" placeholder="Enter your password">
            </div>
            <br>
            <button class="sign-in-btn">Sign In</button>
        </form>

        <a class="toggle-link" onclick="toggleForms()">Create Account</a>

    </div>
    <div class="signup-card hidden">
        <h2>Create Account</h2>
        <form method="POST" action="{% url 'signup' %}">
            {% csrf_token %}
            <!-- first and last -->
            <div class="input-group">
                <label for="first_name">First Name</label>
                <input type="text" name="first_name" placeholder="First Name" required>
            </div>

            <div class="input-group">
                <label for="last_name">Last Name</label>
                <input type="text" name="last_name" placeholder="Last Name" required>
            </div>

            <div class="input-group">
                <label for="username">Username</label>
                <input type="text" name="username" placeholder="Choose a Username" required>
            </div>

            <!-- make the rest of the inputs like the one above -->
            <div class="input-group">
                <label for="email">Email Address</label>
                <input type="email" name="email" placeholder="Email Address" required>
            </div>
            <div class="input-group">
                <label for="password">Password</label>
                <input type="password" name="password" placeholder="Password" required>
            </div>
            <div class="input-group">
                <label for="confirm_password">Confirm Password</label>
                <input type="password" name="confirm_password" placeholder="Confirm Password" required>
            </div>
            <button class="sign-in-btn">Sign Up</button>
        </form>

        <div class="toggle-link">
            <a onclick="toggleForms()">Already have an account? Log In</a>
        </div>

    </div>
</div>

{% endblock %}